#delete-review-modal {
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirmation-buttons {
    height: 50px;
    width: 175px;
    margin: 10px;
    border: 0;
    border-radius: 100px;
    cursor: pointer;
    background-color: #FE3A5C;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
