#signup-modal {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup-button {
    border: 0;
    color: white;
    font-size: 15px;
    border-radius: 100px;
    background-color: #FE3A5C;
    margin-top: 8px;
    height: 30px;
    width: 350px;
    cursor: pointer;
}

#signup-disabled {
    border: 0;
    color: white;
    font-size: 15px;
    border-radius: 100px;
    background-color: #ff95a9;
    margin-top: 8px;
    height: 30px;
    width: 350px;
}

.inputs {
    height: 30px;
    width: 350px;
}
